<div class="dashboard-page">
  <h1 class="map-header"></h1>
  
  <div class="dashboard-section">
    <div id="map-frame"></div>
  </div>
</div>  

<% content_for :view_javascript do %>

  var map = new MapApp.app.views.Map({
    map: new MapApp.app.models.Map(<%= @map_json.html_safe %>)
  });
  
<% end %>