<h1>Your New Map</h1>

<div id="map">Test</div>

<% content_for :view_javascript do %>

  var map = new MapApp.app.views.Map({
    map: new MapApp.app.models.Map(<%= @map_json.html_safe %>)
  });
  
<% end %>