.map-new {
  #map-frame {
    display: inline-block;
    width: 400px; 
    height: 100vh;
  }
  
  .map-form-section {
    display: inline-block;
    width: 400px; 
    height: 1200px;
    
    vertical-align: top;
    
    h1 {
      margin: 10px 15px;
    }
    
    .map-form {
      margin: 10px 15px;
    }
  }
}